.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

.heading {
  font-family: 'Roboto';
  font-size: 32px;
  color: #326a9d;
}

.paragraph {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
}

.button {
  color: #326a9d;
  background-color: #ffffff;
  border-color: #326a9d;
  border-radius: 5px;
  padding: 5px;
}
